#login{
  display: flex;
  flex-direction:column;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:999;
  background:#fff;
  img {
    width:45%; margin-bottom:64px;
    margin-top:68px;
  }
  input{
    width:80%;
    height:47px;
    border:1px solid #9da0a4;
    border-radius: 5px;
    text-indent:1em;
     margin-bottom:30px;
    font-size:18px;
  }
  .denglu{
    width:80%;
    display: flex;
    justify-content:center;

    input{
      width:50%;
      margin-right:10%;
      font-size:18px;
    }
    button{
      background: #fff;
      border:1px solid #d5d7da;
      width:40%;
      border-radius: 5px;
      color:#d5d7da;height:48px;
      margin-bottom:0;
    }
  }
  button{
    width:80%;
    background: #1a1a1a;
    height:54px;
    color:#fff;
    border:0px;
    margin-bottom:114px;
    font-size:18px;
  }
  p{
    color:#b0b3b8;
    span{
      color:#2c3038;
      text-decoration: underline;
    }
  }
}