#sort {
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%; }
  #sort p {
    height: 44px;
    width: 100%;
    line-height: 44px;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #f3f3f3; }
